body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: left;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

.hidden {
     display:none;
}

.panel-body a {
     font-size: 18px;
     font-weight: bold;
}

.holder{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
#login{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #dee1ff;
  top: 20vh;
  height: 40vh;
  border-radius: 2vw;
}
#link_login{
  display: flex;
  justify-content: center;
.glyphicon-remove {
  color: red;

}
